@model InsurancePortal.Transport.ModelQuestionsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuote.cshtml";
}

<section class='site-section grid-wrapper'>
    <div class='box progress-bar' data-module='progressbar'>
        <ol>
            @if (Model.Tabs != null && Model.Tabs.Count > 0)
            {
                //foreach (var tab in Model.Tabs)
                for (int i = 0; i < Model.Tabs.Count; i++)
                {
                    @*<li class = @(i==0) ?'current qa-progressbar-item' : 'qa-progressbar-item'>*@
                    <li class="@(i==0 ? "current qa-progressbar-item" : "qa-progressbar-item")">
                        @*<li class='qa-progressbar-item'>*@
                        <span class='cell'>
                            <span class='item'>
                                @Html.LabelForModel(Model.Tabs[i].TabText)
                            </span>
                        </span>
                    </li>
                }
            }

            @*<li class='current qa-progressbar-item'>
                    <span class='cell'>
                        <span class='item'>
                            <span>Your business</span>
                        </span>
                    </span>
                </li>
                <li class='qa-progressbar-item'>
                    <span class='cell'>
                        <span class='item'>
                            <span>Your employees</span>
                        </span>
                    </span>
                </li>
                <li class='qa-progressbar-item'>
                    <span class='cell'>
                        <span class='item'>
                            <span>Cover options</span>
                        </span>
                    </span>
                </li>
                <li class='qa-progressbar-item'>
                    <span class='cell'>
                        <span class='item'>
                            <span>Business questions</span>
                        </span>
                    </span>
                </li>
                <li class='qa-progressbar-item'>
                    <span class='cell'>
                        <span class='item'>
                            <span>Agreements</span>
                        </span>
                    </span>
                </li>
                <li class='last qa-progressbar-item'>
                    <span class='cell'>
                        <span class='item'>
                            <span>Your quotes</span>
                        </span>
                    </span>
                </li>*@
        </ol>
    </div>
    <form class='js-tracked' data-module='waypoint_tracker' id='simplybusiness_business_about_your_business_form' method='post'>
        <input type="hidden" name="authenticity_token" value="qangDfWfJMuZsyHgaSazk/HA+QLCIZJAgGGQmwGnSm/TdVtyn6k/CY/YAHNgZxH/62IPoUmyth93LflOW98C8Q==" />
        <div class='box'>
            <div class='inner-box'>
                <p class='preamble'>
                    It's essential that all the information you give us is correct. If it isn't, your insurance policy may
                    not be valid or your insurer may refuse to pay any claim you make.
                </p>
            </div>
        </div>
        @if (Model.Tabs != null && Model.Tabs.Count > 0)
    {
        foreach (var section in Model.Tabs.FirstOrDefault().SectionsList)
        {
            <fieldset class='box js-toggleable-section' data-page-index='1' data-page-name='Your business' data-section-name='Please tell us about your business' data-track='pageset_section_changed'>
                <div class='inner-box'>
                    @*<h2 class='js-waypoint'>dfsaf</h2>*@
                    <h2 class='js-waypoint'>
                        @Html.LabelForModel(section.SectionTitle)
                    </h2>

                    @ShowQuestions(section.QuestionsList)

                </div>
            </fieldset>
    }
}

        @helper ShowQuestions(List<InsurancePortal.Transport.Questions> questionList)
        {

            @*<h1>@MyObj.Category_Number  @MyObj.Category_Name</h1>
            foreach (var question in MyObj.questions)
            {
                @Html.DisplayFor(x => question, question.GetType().Name + "Print")
            }

            if (MyObj.SubCategories.Count != null || MyObj.SubCategories.Count != 0)
            {
                foreach (var subitem in MyObj.SubCategories)
                {
                    ShowSubItems(subitem);
                }
            }*@

        foreach (var question in questionList)
        {
            var divId = question.QuestionId;
            switch (question.QuestionType)
            {
                case 1://AutoComplete
                    <div class='@(question.ParentId > 0 ? "control-block on hiddenQuestion" : "control-block on")' data-question='primary_trade' data-trigger='refresh'
                         id=@divId data-answerid="@question.RenderOnAnswerId">
                        <div class='control-text'>
                            @*<div class='control-label'> What is your specific business / trade?</div>*@
                            @Html.LabelForModel(question.QuestionTitle, new { @class = "control-label" })
                            @AddHelp(question.Tooltip);
                        </div>
                        <div class='state-search trade-search' data-control='trade_search' data-redirect-url='/route_trade' data-search-url='/trade_search' data-tracked-event='primary_detail_selected'>
                            <input class='js-trade-input' name='primary_trade' type='hidden' value=''>
                            <div class='control search'>
                                <div class='search-wrapper'>
                                    <input class='js-search-input required' data-msg='Please select a trade to continue' id='primary_trade' name='q' placeholder='e.g. Builder, Painter and decorator, or Plumber' type='text' value=''>
                                    <div class='results'></div>
                                </div>
                            </div>
                            <div class='control selected'>
                                You have selected
                                &lsquo;<span class='answer'></span>&rsquo;
                                as your trade.
                                <a class='js-change' href='#'>Change</a>
                            </div>
                        </div>
                    </div>
                break;
            case 2://TextBox
                <div class='@(question.ParentId > 0 ? "control-block on hiddenQuestion" : "control-block on")' id=@divId data-answerid="@question.RenderOnAnswerId">
                    <div class='control-text'>
                        <label class="control-label" for="uk_postcode">@question.QuestionTitle</label>
                        @AddHelp(question.Tooltip);
                    </div>
                    <div class='control'>
                        @Html.TextBox(question.QuestionTitle)
                    </div>
                </div>
            break;
        case 3://Dropdown
            <div class='@(question.ParentId > 0 ? "control-block on hiddenQuestion" : "control-block on")' data-question='business_type' data-trigger='refresh'
                 id=@divId data-answerid="@question.RenderOnAnswerId">
                <div class='control-text'>
                    <label class="control-label" for="business_type">@question.QuestionTitle</label>
                    @AddHelp(question.Tooltip);
                </div>
                <div class='control'>
                    @Html.DropDownList("answerList", question.AnswersList.Select(item => new SelectListItem
                {
                    Value = item.AnswerId.ToString(),
                    Text = item.AnswerTitle
                }), "Please select...", new { @class = "select-wrapper" })
                </div>
            </div>
        break;
    case 4://RadioButton
        <div class='@(question.ParentId > 0 ? "control-block on hiddenQuestion" : "control-block on")' data-trigger='refresh'
             id=@divId data-answerid="@question.RenderOnAnswerId">
            @*<div class='control-block info-box on'>*@
            <div class='control-text'>
                <div class='control-label'>@question.QuestionTitle</div>
                @AddHelp(question.Tooltip);
            </div>
            <div class='control'>
                @foreach (var answer in question.AnswersList)
            {
                @Html.RadioButton("radio", answer.AnswerTitle, new { @class = "radio" })
                @Html.Label(answer.AnswerTitle)<br />
        }
            </div>
            @*</div>*@
        </div>
    break;
case 5://checkbox
    <div class='@(question.ParentId > 0 ? "control-block on hiddenQuestion" : "control-block on")' data-trigger='refresh' id=@divId
         data-answerid="@question.RenderOnAnswerId">
        <div class='control-text'>
            <div class='control-label'>@question.QuestionTitle</div>
            @AddHelp(question.Tooltip);
        </div>
        <div class='control'>
            @foreach (var answer in question.AnswersList)
        {
            @Html.CheckBox(answer.AnswerTitle, new { onchange = "CheckBoxOnChange(this)", answerId = answer.AnswerId })
            @Html.Label(answer.AnswerTitle)<br />
    }
        </div>
    </div>
break;
}

if (question.SubQuestions != null && question.SubQuestions.Count > 0)
{
    @ShowQuestions(question.SubQuestions)
}

}
}

        @helper AddHelp(string tooltip)
        {
        if (!string.IsNullOrEmpty(tooltip))
        {
            @*<span class="help-trigger info-box-toggle">Help</span>*@
            @*<span class="help-trigger info-box-toggle">Help</span>*@
            <div class='help-text info-box-content'>
                <div class='help-content'>
                    <span class='info-box-toggle'>Close help</span>
                    <p>tooltip</p>
                </div>
            </div>
    }
}


        <div class='box form-actions'>
            <div class='inner-box'>
                <input autocomplete='off' id='customer_conversion_journey' name='customer_conversion_journey' type='hidden'>
                <button class='btn-primary arrow qa-ccj-button' onclick='this.form.elements[&quot;customer_conversion_journey&quot;].value = &quot;true&quot;' type='submit'>
                    <span>Next step</span>
                </button>
            </div>
        </div>
    </form>

    <div class='social-proof qa-social-proof'>
        <div class='social-proof__content qa-social-proof-content'>
            <div class='social-proof__panel grid-cell desktop-onehalf tablet-onehalf'>
                <div class='quote-bubble'>
                    I am very happy with the service I received when purchasing
                    <a href='https://www.companyname.co.uk/insurance/public-liability/' target='_blank'>public liability insurance</a>
                    for my small business.
                </div>
                <div class='quote-source'>
                    - S Coxon, Florist
                </div>
            </div><div class='social-proof__panel grid-cell desktop-onehalf tablet-onehalf'>
                <div class='quote-bubble'>
                    Very simple procedure and great competitive rates. Highly professional and great service from start to finish.
                </div>
                <div class='quote-source'>
                    - J Jones, IT Programme Management
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .hiddenQuestion {
        display: none;
    }
</style>
<script>
    function CheckBoxOnChange(checkBoxElement)
    {
        var answerId = checkBoxElement.getAttribute("answerId");
        if(answerId > 0)
        {
            //debugger;
            ////subQuestionId
            //var subQuestionsList = document.querySelectorAll('[data-answerid='+answerId+']');
            //var subQuestion = document.getElementById(answerId);
            //if(subQuestion != undefined)
            //    checkBoxElement.checked ? subQuestion.classList.remove("hiddenQuestion") : subQuestion.classList.add("hiddenQuestion");

            var isChecked =  checkBoxElement.checked;

            $('div[data-answerid='+answerId+']').each(function() {
               isChecked ? this.classList.remove("hiddenQuestion") : this.classList.add("hiddenQuestion");
            });
        }
    }
</script>