<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Company Name - UK's biggest business insurance broker | specialising in public liability, professional indemnity and landlord insurance</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link as="font" crossorigin="anonymous" href="/assets/bijou/museosans_500-5e970f19a7bd56681ccffee58a97772a148c314440e6549254733ef24a3c9f66.woff2" rel="preload" type="font/woff2">
    <link as="font" crossorigin="anonymous" href="/assets/bijou/museosans_700-b3455e5afa9446a79ada31b9a416de55705fe7e7579989d1e3d6669c224a0bbc.woff2" rel="preload" type="font/woff2">
    <link as="font" crossorigin="anonymous" href="/assets/bijou/museosansrounded_500-d1a96cb01de35edb2d86f7cbb3dd760310896e4f0cc7f0006e014b19c841b2d5.woff2" rel="preload" type="font/woff2">
    <link as="font" crossorigin="anonymous" href="/assets/bijou/museosansrounded_700-205bdf3f5255bae942d055addbb1b09a6ba24b6a8440c688661fa524098745c1.woff2" rel="preload" type="font/woff2">
    <link href="~/Content/default.css" rel="stylesheet" />
    <script src="/assets/app_head-fee1c8d1c4f037c1f4c940a637d8cd0a8879ab2faf9639ef06824e78ff0e1276.js"></script>
    <link href="/assets/bijou/favicon-e0e837edfd0650eeac6fdfd867d83745e6162b86a6edc3cb4f7eeae2b2d73aef.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="/assets/bijou/apple-icon-57x57-883fb33d5cf499cd7963527151cacbc2424428a35de4f745eeaa04810c5c95e8.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/assets/bijou/apple-icon-76x76-d405761bd30bd7a9039e9fb213c6f3c44f67e9d6c777e8b9cf30e1ecb57a9364.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/assets/bijou/apple-icon-120x120-64e89542bd90198b0978b07a45f61531d2231f632aa5bf1c716859c78f95b631.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/assets/bijou/apple-icon-152x152-1823375fa998e626ae10f3219d0c71ee4ff7e77f7fc3f47323801925859c6e14.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/assets/bijou/apple-icon-167x167-dc27d424ae184f34cbe4afa158929f59375cfc98477e201f3eb1fced390f0b23.png" rel="apple-touch-icon" sizes="167x167">
    <link href="/assets/bijou/apple-icon-180x180-cfb96d969435ef742153d9b92b7327b0720fa95f3ac905c2cd47cd1731b91e2c.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/assets/bijou/icon-192x192-bd2f830632266cad764c388c8d11d7e9aea41bf8e8485bebf1209ac501f9e756.png" rel="icon" sizes="192x192">
    <meta content="company name" name="apple-mobile-web-app-title">
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="template-signin">
    <header class="site-header" data-module="masthead">
        <div class="site-header__top clearfix">
            <div class="grid-wrapper">
                <div class="site-header-logo">
                    <div class="site-header-logo__gradient js-has-css-animation"></div>
                    <a class="site-header-logo__link logo" href="/" itemprop="url">
                        company name - Insurance for your business
                    </a>
                </div>
                <div class="has-nav site-header__customer-service">
                    <div class="mobile-hide">
                        <strong class="site-header__phone-number qa-customer-service-number tel" id="customer-service-number" itemprop="telephone">0333 014 6683</strong>
                        <a class="qa-opening-hours" href="pages/support/index.html" itemprop="openingHours">See our opening hours</a>
                    </div>
                    <div class="mobile-show">
                        <a class="has-nav icon-phone js-notice-toggle qa-mobile-customer-service-number site-header__call-button" data-track="mobile_call_button" href="tel:0333 014 6683" id="qa-mobile-customer-service-button"></a>
                    </div>
                </div>
            </div>
            <i class="site-header__menu-icon icon-menu desktop-hide js-menu-toggle"></i>
        </div>
        <nav class="primary-nav">
            <div class="grid-wrapper">
                <ul class="menu--top">
                    <li class="menu__item menu__item--menu js-submenu portable-hide">
                        <a class="menu__item-link" href="pages/insurance/index.html">Personal line insurance</a>
                        <div class="menu__panel-container">
                            <div class="menu__panel js-menu-panel">
                                <div class="grid-wrapper">
                                    <div class="grid">
                                        <div class="grid-cell desktop-3">
                                            <ul class="menu__sublist">
                                                <li>
                                                    @*<a href="pages/insurance/public-liability/index.html">Car insurance</a>*@
                                                    <a href="@Url.Action("Index", "Home", new { @template = "Car"})">Car insurance</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Home", new { @template = "Home"})">Home insurance</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Home", new { @template = "Travel"})">Travel & life insurance</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item menu__item--menu js-submenu portable-show">
                        <a class="menu__item-link" href="pages/insurance/index.html">Personal line insurance</a>
                        <div class="menu__panel-container">
                            <div class="menu__panel js-menu-panel">
                                <ul class="menu__sublist">
                                    <li>
                                        <a href="pages/insurance/public-liability/index.html">Car insurance</a>
                                    </li>
                                    <li>
                                        <a href="pages/insurance/professional-indemnity/index.html">Home insurance</a>
                                    </li>
                                    <li>
                                        <a href="pages/insurance/employers-liability/index.html">Travel & life insurance</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item menu__item--menu js-submenu portable-hide">
                        <a class="menu__item-link" href="pages/landlord-insurance/index.html">Professional insurance</a>
                        <div class="menu__panel-container">
                            <div class="menu__panel js-menu-panel">
                                <div class="grid-wrapper">
                                    <div class="grid">
                                        <div class="grid-cell desktop-3">
                                            <ul class="menu__sublist">
                                                <li>
                                                    <a href="@Url.Action("PublicLiability", "Insurance")">Public liability</a>
                                                </li>
                                                <li>
                                                    <a href="pages/insurance/professional-indemnity/index.html">Professional indemnity</a>
                                                </li>
                                                <li>
                                                    <a href="pages/insurance/employers-liability/index.html">Employers liability</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item menu__item--menu js-submenu portable-show">
                        <a class="menu__item-link" href="pages/landlord-insurance/index.html">Professional insurance</a>
                        <div class="menu__panel-container">
                            <div class="menu__panel js-menu-panel">
                                <ul class="menu__sublist">
                                    <li>
                                        <a href="pages/insurance/public-liability/index.html">Public liability</a>
                                    </li>
                                    <li>
                                        <a href="pages/insurance/professional-indemnity/index.html">Professional indemnity</a>
                                    </li>
                                    <li>
                                        <a href="pages/insurance/employers-liability/index.html">Employers liability</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item menu__item--menu js-submenu portable-hide">
                        <a class="menu__item-link" href="pages/knowledge/index.html">Knowledge centre</a>
                        <div class="menu__panel-container">
                            <div class="menu__panel js-menu-panel">
                                <div class="grid-wrapper">
                                    <div class="grid">
                                        <div class="grid-cell desktop-3">
                                            <h3>
                                                <a href="pages/knowledge/index.html">Knowledge centre</a>
                                            </h3>
                                        </div><div class="grid-cell desktop-3">
                                            <h3>
                                                <a href="pages/knowledge/index.html">Articles</a>
                                            </h3>
                                            <ul class="menu__sublist">
                                                <li>
                                                    <a href="pages/knowledge/popular-articles/index.html">Most popular articles</a>
                                                </li>
                                                <li>
                                                    <a href="pages/knowledge/index.html">All articles</a>
                                                </li>
                                            </ul>
                                        </div><div class="grid-cell desktop-3">
                                            <h3>
                                                <a href="pages/microsites/index.html">Microsites</a>
                                            </h3>
                                            <ul class="menu__sublist">
                                                <li>
                                                    <a href="pages/microsites/facebook-for-small-businesses/index.html">Facebook for small businesses</a>
                                                </li>
                                                <li>
                                                    <a href="pages/microsites/google-my-business-guide/index.html">Google My Business guide</a>
                                                </li>
                                                <li>
                                                    <a href="pages/microsites/google-analytics-guide/index.html">Google Analytics guide</a>
                                                </li>
                                                <li>
                                                    <a href="pages/microsites/google-adwords/index.html">Google Adwords guide</a>
                                                </li>
                                                <li>
                                                    <a href="pages/microsites/twitter-for-small-businesses/index.html">Twitter for small businesses</a>
                                                </li>
                                                <li>
                                                    <a href="pages/microsites/email-marketing-guide/index.html">Email marketing guide</a>
                                                </li>
                                                <li>
                                                    <a href="pages/microsites/guide-to-social-media-success/index.html">Guide to social media success</a>
                                                </li>
                                                <li>
                                                    <a href="pages/microsites/googleplus-for-small-businesses/index.html">GooglePlus for small businesses</a>
                                                </li>
                                                <li>
                                                    <a href="pages/microsites/index.html">More microsites</a>
                                                </li>
                                            </ul>
                                        </div><div class="grid-cell desktop-3">
                                            <h3>FAQ</h3>
                                            <ul class="menu__sublist">
                                                <li>
                                                    <a href="pages/insurance/faq/index.html">Business insurance FAQ</a>
                                                </li>
                                                <li>
                                                    <a href="pages/landlord-insurance/faq/index.html">Landlord insurance FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item menu__item--menu js-submenu portable-show">
                        <a class="menu__item-link" href="pages/knowledge/index.html">Knowledge centre</a>
                        <div class="menu__panel-container">
                            <div class="menu__panel js-menu-panel">
                                <ul class="menu__sublist">
                                    <li>
                                        <a href="pages/knowledge/index.html">Knowledge centre</a>
                                    </li>
                                    <li>
                                        <a href="pages/knowledge/popular-articles/index.html">Most popular articles</a>
                                    </li>
                                    <li>
                                        <a href="pages/microsites/index.html">Microsites</a>
                                    </li>
                                    <li>
                                        <a href="pages/knowledge/resources/small-business-guides/index.html">Small business guides</a>
                                    </li>
                                    <li>
                                        <a href="pages/insurance/faq/index.html">Business insurance FAQ</a>
                                    </li>
                                    <li>
                                        <a href="pages/landlord-insurance/faq/index.html">Landlord insurance FAQ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__item-link" href="pages/support/index.html">Help & support</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__item-link qa-make-a-claim-menu" data-track="make_a_claim_button_clicked" href="pages/insurance-claims/index.html">Claims</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__item-link" data-track="sign_in_button_clicked" href="@Url.Action("Index","Login")">Sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <section class="site-section grid-wrapper sitemap" style="margin-bottom:15px;border-bottom:1px solid #ccc;padding-bottom:15px;">
        <div class="grid">
            <div class="grid-cell desktop-onesixth tablet-onethird mobile-onehalf">
                <div class="module">
                    <div class="module-content">
                        <h4>Insurance</h4>
                        <ul>
                            <li>
                                <a href="pages/insurance/public-liability/index.html">Public liability insurance</a>
                            </li>
                            <li>
                                <a href="pages/insurance/index.html">Business insurance</a>
                            </li>
                            <li>
                                <a href="pages/landlord-insurance/index.html">Landlord insurance</a>
                            </li>
                            <li>
                                <a href="pages/insurance/tradesman/index.html">Tradesman insurance</a>
                            </li>
                            <li>
                                <a href="pages/insurance/professionals/index.html">Professionals' insurance</a>
                            </li>
                            <li>
                                <a href="pages/insurance/shop/index.html">Shop insurance</a>
                            </li>
                            <li>
                                <a href="pages/insurance/restaurant/index.html">Restaurant insurance</a>
                            </li>
                            <li>
                                <a href="pages/vehicle/van-insurance/index.html">Van insurance</a>
                            </li>
                            <li>
                                <a href="pages/insurance/insurers/index.html">Insurers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><div class="grid-cell desktop-onesixth tablet-onethird mobile-onehalf">
                <div class="module">
                    <div class="module-content">
                        <h4>About company name</h4>
                        <ul>
                            <li>
                                <a href="pages/about-us/index.html">About us</a>
                            </li>
                            <li>
                                <a href="pages/about-us/team/index.html">Our team</a>
                            </li>
                            <li>
                                <a href="pages/about-us/awards/index.html">Awards</a>
                            </li>
                            <li>
                                <a href="pages/about-us/press-releases/index.html">Press releases</a>
                            </li>
                            <li>
                                <a href="pages/partner/index.html">Partners &amp; affiliates</a>
                            </li>
                            <li>
                                <a href="pages/about-us/impact/index.html">Impact charity program</a>
                            </li>
                            <li>
                                <a href="pages/social/index.html">Social media</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><div class="grid-cell desktop-onesixth tablet-onethird mobile-onehalf">
                <div class="module">
                    <div class="module-content">
                        <h4>Careers</h4>
                        <ul>
                            <li>
                                <a href="pages/about-us/careers/index.html">Careers at company name</a>
                            </li>
                            <li>
                                <a href="pages/about-us/careers/tech/index.html">Tech careers</a>
                            </li>
                            <li>
                                <a href="pages/about-us/careers/jobs/index.html">Current vacancies</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><div class="grid-cell desktop-onesixth tablet-onethird mobile-onehalf">
                <div class="module">
                    <div class="module-content">
                        <h4>Customer support</h4>
                        <ul>
                            <li>
                                <a href="pages/support/index.html">Contact &amp; support</a>
                            </li>
                            <li>
                                <a href="pages/support/indexa064.html?topic=renewal">Policy renewal</a>
                            </li>
                            <li>
                                <a href="pages/insurance-claims/index.html">Make a claim</a>
                            </li>
                            <li>
                                <a href="pages/proof/index.html">Proof of policy</a>
                            </li>
                            <li>
                                <a href="pages/support/complaints/index.html">Complaints</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><div class="grid-cell desktop-onesixth tablet-onethird mobile-onehalf">
                <div class="module">
                    <div class="module-content">
                        <h4>Benefits</h4>
                        <ul>
                            <li>
                                <a href="pages/support/customer-benefits/index.html">Benefits</a>
                            </li>
                            <li>
                                <a href="pages/about-us/refer/index.html">Refer a friend</a>
                            </li>
                            <li>
                                <a href="pages/finance/index.html">Finance</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><div class="grid-cell desktop-onesixth tablet-onethird mobile-onehalf">
                <div class="module">
                    <div class="module-content">
                        <h4>Knowledge</h4>
                        <ul>
                            <li>
                                <a href="pages/knowledge/index.html">Knowledge centre</a>
                            </li>
                            <li>
                                <a href="pages/knowledge/opinion/index.html">Opinions</a>
                            </li>
                            <li>
                                <a href="pages/microsites/index.html">Microsites</a>
                            </li>
                            <li>
                                <a href="pages/leaderboards/top-100-influencers-small-business/index.html">Business 100 leaderboard</a>
                            </li>
                            <li>
                                <a href="pages/leaderboards/top-100-influencers-property/index.html">Property 100 leaderboard</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="grid-wrapper">
            <div class="grid">
                <div class="grid-cell desktop-onethird tablet-onehalf vcard">
                    <h3 class="fn">Address</h3>
                    <p>
                        <span class="adr" itemprop="address">
                            99 Gresham Street<br>
                            London<br>
                            EC2V 7NG
                        </span>
                    </p>
                    <p>
                        <span class="adr" itemprop="address">
                            Sol House<br>
                            29 St Katherine's Street<br>
                            Northampton<br>
                            NN1 2QZ
                        </span>
                    </p>
                </div><div class="grid-cell desktop-twothirds tablet-onehalf">
                    <div class="grid desktop-reverse">
                        <div class="grid-cell desktop-onethird legal">
                            <h3>Legal</h3>
                            <ul>
                                <li>
                                    <a href="pages/terms-conditions/index.html" target="">Terms &amp; conditions</a>
                                </li>
                                <li>
                                    <a href="pages/privacy-policy/index.html" target="">Privacy policy</a>
                                </li>
                                <li>
                                    <a href="pages/legal/cookies/index.html" target="">Cookie policy</a>
                                </li>
                                <li>
                                    <a href="pages/sitemap/index.html" target="">Site map</a>
                                </li>
                            </ul>
                        </div><div class="grid-cell desktop-twothirds newsletter">
                            <h3>Newsletter</h3>
                            <p>
                                Sign up to get our monthly newsletter, jam-packed with industry news, tips and events.
                            </p>
                            <a class="btn-tertiary" href="pages/about-us/newsletter-signup/index.html" target="">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-print">
            <div class="grid-wrapper">
                <p>
                    &copy; Copyright 2017 company name. All Rights Reserved.
                    company name is a trading name of Xbridge Limited which is authorised and
                    regulated by the Financial Conduct Authority (Financial Services Registration
                    No: 313348). Xbridge Limited (No: 3967717) has its registered office at
                    99 Gresham Street, London EC2V 7NG.
                </p>
            </div>
        </div>
    </footer>
    <script src="assets/app-eda58eafa7598e80d09818bcdb51d1bc8b5fd8ad045ebf777e843726ae3171b3.js"></script>
    @RenderSection("scripts", required: false)
</body>

