@model InsurancePortal.Web.Models.TemplateTabModel


@using (Html.BeginForm("AddTemplateTab", "Settings", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TemplateID)
    @Html.HiddenFor(model => model.TemplateTabID)
    <div class="modal-body">
        <div class="row">

            <div class="col-md-12 form-group" style="float:left;">
                <label class="col-md-3 control-label">Tab Name</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.TemplateTabName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TemplateTabName)
                </div>
            </div>
            @*<div class="col-md-12 form-group" style="float:left;">
                    <label class="col-md-3 control-label">Tab Header</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.TabHeader, new { @class = "form-control" })

                    </div>
                </div>

                <div class="col-md-12 form-group" style="float:left;">
                    <label class="col-md-3 control-label">Tab Description</label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.TabDescription, new { @class = "form-control" })

                    </div>
                </div>*@
            <div class="col-md-12 form-group" style="float:left;">
                <label class="col-md-3 control-label">Sections</label>
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Sections, new { @class = "form-control" })
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary button button4">Save</button>
        <button type="button" id="btnHideModal" class="btn btn-primary button button4">
            Close
        </button>
    </div>
}