@model InsurancePortal.Web.Models.TemplateTabModel
@{
    ViewBag.Title = "QuoteTabs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*@Html.Partial("_AdminLeftPanel")*@
<script>
    function PopupEditQuestion(QId) {
        var TabId = '@Model.TemplateTabID';
        $.ajax({
            type: "GET",
            //contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("AddTabQuesion", "Settings")',
            data: { tabId: parseInt(TabId), QuesionId: parseInt(QId) },
            datatype: "json",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                if (data != null) {
                    $("#QuestionPopup").html('');
                    $("#QuestionPopup").html(data);
                    $("#loginModal").modal('show');
                }
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
</script>
<section class="content-header">
    <h1>
        Template Tab
        <small>advanced templates tab</small>
    </h1>
    <ol class="breadcrumb">
        %
        <li>
            <a href="@Url.Action("ManageQuotes","Settings")">Manage Quotes</a>
        </li>
        <li>
            <a href="@Url.Action("QuoteTemplate","Settings", new { @tempId= Model.TemplateID })">Quotes Template</a>

        </li>
        <li class="active">Manage Quotes Tab</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Tab Details</div>
                </div>
                <div class="bootstrap-admin-panel-content" style="padding-top:20px;">
                    @using (Html.BeginForm("AddTemplateTab", "Settings", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-12 form-group" style="float:left;">
                                <label class="col-md-2 control-label">Name</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.TemplateTabName, new { @class = "form-control" })
                                </div>
                                @Html.HiddenFor(model => model.TemplateID)
                                @Html.HiddenFor(model => model.TemplateTabID)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group" style="float:left;">
                                <label class="col-md-2 control-label">Tab Header</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.TabHeader, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group" style="float:left;">
                                <label class="col-md-2 control-label">Tab Description</label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.TabDescription, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="btn btn-primary button button4">Save</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Tabs</h3>
                    <div style="float:right;">
                        <button id="btnShowModal" type="button" class="btn btn-primary">
                            Add New
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="dispaly" cellspacing="0" width="100%" id="tbltemplatetab">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Question</th>
                                @*<th>Answer type</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.QuestionList != null && ViewBag.QuestionList.Count > 0)
                            {
                                foreach (InsurancePortal.Transport.TemplateQuesionViewModel item in ViewBag.QuestionList)
                                {
                                    <tr>
                                        <td>@item.TemplateQuesID</td>
                                        <td>@item.Question</td>
                                        @*<td>Search with Selection</td>*@
                                        <td class="center"><a href="javascript:PopupEditQuestion(@item.TemplateQuesID)" title="Quotes Template">Edit</a></td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align:center;">No questions found.</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" tabindex="-1" id="loginModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Update Question</h4>
            </div>
            <div id="QuestionPopup">
                @Html.Action("AddTabQuesion", "Settings", new { @tabId = Model.TemplateTabID, @QuesionId = 0 })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tbltemplatetab').DataTable();

        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('toggle');
        });
    });
</script>

